<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management || Footer</title>
    <link rel="stylesheet" type='text/css' href="{% static '/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>About Us</h3>
                <p>Hospital Management is a leading healthcare provider dedicated to delivering exceptional medical services with compassion and expertise.</p>
            </div>
            
            <div class="footer-section">
                <h3>Contact Info</h3>
                <p><i class="fas fa-map-marker-alt"></i> Haï Sabah, Bir El Djir , 31000</p>
                <p><i class="fas fa-phone"></i> (+123) 41 70 50 88</p>
                <p><i class="fas fa-envelope"></i> contact@ehuoran.dz</p>
            </div>
        </div>
        
        <div class="copyright">
            <p>Made in Algeria</p>
            <p>&copy; 2025 Yasmine &amp; Seror</p>
        </div>
    </div>
</footer>
</body>
</html>